.navbar{
    background-color:rgb(0,155,226);
}

.navbar-header{
    color:white;
}

.btn-default{
    background-color:rgb(101,182,90);
}
.parallax-window {
    min-height: 480px;
    background: transparent;
    width: 100%;
}

.thumbnail{
    background-color:rgb(0,155,226);
}

footer{
    background:green; 
    text-align:center;
    width:957px;
    height:30px;
    margin-left:15px;
    color:white;
}
